.logo{
  height:60px;
  width:60px;
  background-blend-mode: color-burn;
}
.nav-item{
    font-weight: 400px;
}
.nav-item:hover{
  font-weight: 600;
}
@media screen and (max-width:420px) {
  .call{
    font-size: 15.7px;
    padding: 3px 0;
    
  }
}